@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 241, 241, 241;
  --foreground: 23, 23, 23;
  --border-color: rgb(200, 200, 200);
  --shadow-color: rgba(0, 0, 0, 0.153);
}

.dark {
  --background: 10, 10, 10;
  --foreground: 241, 241, 241;
  --border-color: rgb(100, 100, 100);
  --shadow-color: rgba(238, 231, 231, 0.396);
}
/* Add this to your styles.css file or within your global styles */
.swipeable-section {
  transition: transform 0.3s ease; /* Smooth transition for swipe */
}

/* Optional: for the whole page scroll */
html {
  scroll-behavior: smooth; /* Enables smooth scrolling for the page */
}

/* Optional: Add styles to make swipe animation smoother */
.container {
  transition: transform 0.3s ease;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  transition: color 0.3s, background-color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
