@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --border-color: rgb(200, 200, 200);
  --shadow-color: rgba(0, 0, 0, 0.153);
}

.dark {
  --background: 10, 10, 10;
  --foreground: 255, 255, 255;
  --border-color: rgb(100, 100, 100);
  --shadow-color: rgba(238, 231, 231, 0.396);
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  transition: color 0.3s, background-color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
