@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 241, 241, 241;
  --foreground: 23, 23, 23;
  --border-color: rgb(200, 200, 200);
  --shadow-color: rgba(0, 0, 0, 0.153);
}

.dark {
  --background: 10, 10, 10;
  --foreground: 241, 241, 241;
  --border-color: rgb(100, 100, 100);
  --shadow-color: rgba(238, 231, 231, 0.396);
}
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  transition: color 0.3s, background-color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* blog */
/* .ql-editor {
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  color: #374151;
  padding: 0 !important;
}

.ql-editor h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #1f2937;
}

.ql-editor h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: #1f2937;
}

.ql-editor p {
  font-size: 1.125rem;
}

.ql-editor ul,
.ql-editor ol {
  padding-left: 1.75rem;
  margin-bottom: 1.25rem;
}

.ql-editor li {
  margin-bottom: 0.75rem;
}

.ql-editor pre.ql-code-block {
  background-color: #f3f4f6;
  color: #1f2937;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Fira Code", monospace;
  margin: 1.5rem 0;
}

.ql-editor img {
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}

.ql-editor blockquote {
  border-left: 4px solid #e5e7eb;
  padding-left: 1rem;
  margin: 1.5rem 0;
  color: #4b5563;
  font-style: italic;
}

.ql-code-block {
  background-color: #f1f1f1;
  color: black;
  border-radius: 3px;
  padding: 10px;
  font-family: monospace;
}
 */
